#layersTool_filtering {
    border-top: 1px solid var(--color-k);
    display: none;
}
.gears_on #layersTool_filtering {
    display: block;
}
#layersTool_filtering_header {
    display: flex;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
}
#layersTool_filtering_title_left {
    display: flex;
}
#layersTool_filtering_title {
    font-size: 16px;
    padding-left: 14px;
}
#layersTool_filtering_count {
    font-size: 12px;
    padding: 0px 4px;
    color: #d6d6d6;
}
#layersTool_filtering_add_value {
    width: 30px;
    padding: 0px 6px;
}

#layerTool_filtering_filters_spatial {
    display: flex;
    border-bottom: 1px solid #353535;
}
#layerTool_filtering_filters_spatial_draw {
    background: #111;
    width: 145px;
    display: flex;
}
#layerTool_filtering_filters_spatial_draw > div {
    margin-left: 4px;
    line-height: 32px;
    font-size: 13px;
}
#layerTool_filtering_filters_spatial_draw > i {
    color: #888;
}
#layerTool_filtering_filters_spatial.drawing
    #layerTool_filtering_filters_spatial_draw
    > i {
    color: var(--color-r7);
}
#layerTool_filtering_filters_spatial.drawn
    #layerTool_filtering_filters_spatial_draw
    > i {
    color: lime;
}
#layerTool_filtering_filters_spatial_draw:hover {
    background: #222;
}
#layerTool_filtering_filters_spatial_clear {
    width: 30px;
    background: #111;
    padding: 0px 6px;
    color: #ccc;
}
#layerTool_filtering_filters_spatial_clear:hover {
    background: #222;
    color: #fff;
}
#layerTool_filtering_filters_spatial_radius_wrapper {
    display: flex;
    color: #ccc;
    width: 85px;
    box-sizing: border-box;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}
#layersTool_filtering
    #layerTool_filtering_filters_spatial_radius_wrapper
    > input {
    background: #111;
    padding-left: 0px;
    text-align: right;
    font-size: 13px;
}
#layersTool_filtering
    #layerTool_filtering_filters_spatial_radius_wrapper
    > input:hover {
    background: #222;
}
#layerTool_filtering_filters_spatial_radius_wrapper > div:first-child {
    background: #111;
    line-height: 30px;
    padding: 0px 8px;
    font-size: 12px;
}
#layerTool_filtering_filters_spatial_radius_wrapper > div:last-child {
    background: #111;
    line-height: 32px;
    height: 30px;
    padding: 0px 8px 0px 1px;
    font-size: 12px;
}

#layersTool_filtering_footer {
    display: flex;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
}
#layersTool_filtering_adds {
    display: flex;
    justify-content: space-between;
}
#layersTool_filtering_adds > div > div {
    padding-left: 2px;
}

.layersTool_filtering_value {
    display: flex;
    height: 31px;
    border-bottom: 1px solid #353535;
}
.layersTool_filtering_value .layersTool_filtering_value_key {
    flex: 1;
}
.layersTool_filtering_value_operator {
    box-sizing: border-box;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}
.layersTool_filtering_value .layersTool_filtering_value_value {
    flex: 1;
    position: relative;
}

.layersTool_filtering_value_value_type {
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #999;
}
.layersTool_filtering_value_value_type > i:first-child {
    color: var(--color-yellow);
}
.layersTool_filtering_value_value_type > i:last-child {
    color: var(--color-green);
}

#layersTool_filtering input {
    background: #111;
    color: #ccc;
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    padding-left: 8px;
    border: none;
    font-size: 14px;
    transition: background 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#layersTool_filtering input:hover {
    background: #222;
}
#layersTool_filtering select {
    background: #111;
    color: #ccc;
    height: 30px;
}
.layersTool_filtering_value_operator_select {
    background: #111111;
    color: var(--color-f);
    border: none;
    cursor: pointer;
    height: 30px;
    transition: background 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.layersTool_filtering_value_operator_select:hover {
    background: var(--color-r4);
}

.layersTool_filtering_value_remove .mmgisButton5 {
    width: 22px;
}
#layersTool_filtering_clear {
    padding: 0px 14px;
}
#layersTool_filtering_submit {
    padding: 0px 8px;
}

#layersTool_filtering .dropy,
#layersTool_filtering .dropy__title {
    height: 30px;
    border: none;
}
#layersTool_filtering .dropy__title span {
    padding: 6px;
}
#layersTool_filtering .dropy .dropy__content li a {
    padding: 6px;
    border-top: 1px solid var(--color-m);
    margin-bottom: 0px;
    height: 30px;
}
#layersTool_filtering .dropy__content .dropy__header {
    display: none;
}
#layersTool_filtering .dropy__content ul {
    transition: none;
}
