.leaflet-control-update-layer {
    border: none !important;
    margin-right: 5px !important;
    user-select: none;
}
.leaflet-control-update-layer a {
    display: flex !important;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-bottom: 5px;
    font-size: 18px !important;
    border: none !important;
    border-radius: 3px !important;
    transition: color 0.2s ease-in 0s;
}
.leaflet-control-update-layer-0-margin {
    margin-top: 0px !important;
}
.leaflet-control-update-layer-40-margin {
    margin-top: 40px !important;
}
.RELOAD:hover,
.ADD_LAYER:hover {
    color: var(--color-mmgis) !important;
}
.RELOAD {
    background: var(--color-h) !important;
    color: var(--color-a) !important;
}
.ADD_LAYER {
    background: var(--color-green) !important;
    color: var(--color-a) !important;
}
.DISCONNECTED {
    background: var(--color-r1) !important;
    color: var(--color-f) !important;
}
.leaflet-control-update-layer-icon > .mdi-reload-alert,
.leaflet-control-update-layer-icon > .mdi-reload,
.leaflet-control-update-layer-icon > .mdi-alert-outline {
    width: 100%;
}
.update-layer-icon-text:hover {
    color: var(--color-mmgis) !important;
}
.update-layer-icon-text {
    width: 100%;
    margin-left: -102%;
    color: var(--color-a);
    font-size: 10px;
    transition: color 0.2s ease-in 0s;
}
.update-layer-icon-text.plus {
    margin-top: -1px;
}
.update-modal-section-title {
    padding: 5px;
}
.update-modal-table-container {
    background: transparent;
    border: none;
    color: var(--color-f);
    width: 100%;
    height: 300px;
    padding: 10px 0px 10px 10px;
    font-family: 'roboto';
    font-size: 14px;
    overflow: auto;
}
#update-modal-actions {
    display: flex;
    margin-top: 5px;
    padding: 5px;
    justify-content: space-between;
    background: var(--color-a1);
    border-top: 1px solid var(--color-a);
}
.update-modal-flex {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}
