body,
html {
  font-family: sans-serif;
  background-color: #1a1a1a;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0;
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1c1c1c;
  border-top: 4px solid #08aeea;
  border-bottom: 4px solid #08aeea;
  width: 400px;
  height: 440px;
  box-shadow: 0px 4px 30px 10px #141414;
}

.box h4 {
  font-family: sans-serif;
  color: #08aeea;
  font-size: 18px;
  margin-top: 94px;
}

.box h4 span {
  color: #dfdeee;
  font-weight: lighter;
}

.box h5 {
  font-family: sans-serif;
  font-size: 13px;
  color: #a1a4ad;
  letter-spacing: 1.5px;
  margin-top: -15px;
  margin-bottom: 70px;
}

.box input[type="text"],
.box input[type="password"] {
  display: block;
  margin: 20px auto;
  background: #36373a;
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  font-size: 14px;
  color: #ececec;
  border: 1px solid rgba(0, 0, 0, 0);
}
::-webkit-input-placeholder {
  color: #727580;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  border: 1px solid #75767a;
}

a {
  color: #36373a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn1 {
  border: 0;
  background: #36373a;
  color: #dfdeee;
  border-radius: 5px;
  width: 340px;
  height: 49px;
  font-size: 16px;
  position: absolute;
  top: 80%;
  left: 7.5%;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
  user-select: none;
  font-family: sans-serif;
  line-height: 49px;
}

.btn1:hover {
  background: #08aeea;
  font-weight: bold;
  color: #1a1a1a;
}

.error {
  text-align: center;
  width: 337px;
  height: 20px;
  padding: 2px;
  border: 0;
  border-radius: 5px;
  margin: 10px auto 10px;
  position: absolute;
  top: 90%;
  left: 7.2%;
  color: #d6d7db;
  border-bottom: 2px solid #ff7426;
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

#setup {
  opacity: 0;
  color: #00ff80;
  position: absolute;
  top: calc(50% - 309px);
  left: 50%;
  width: 400px;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  font-size: 110px;
  transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#pwd_retype {
  display: none;
}

img {
  position: absolute;
  top: 44px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.mmgisScrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
  background-color: Transparent;
}

.mmgisScrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

.mmgisScrollbar::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.25);
}

#backIcon {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
  cursor: pointer;
  color: #bbb;
  transition: color 0.2s ease-in;
  z-index: 100;
}
#backIcon:hover {
  color: white;
}
