.swagger-ui .topbar {
  display: none;
}
.swagger-ui .body-param-options {
  display: none;
}
.swagger-ui .opblock.opblock-post,
.swagger-ui .opblock.opblock-get {
  background: #f5f5f5;
}
.swagger-ui textarea,
.swagger-ui .highlight-code > .microlight {
  min-height: unset;
}
.swagger-ui .markdown p {
  margin-top: 0;
}
.swagger-ui .opblock.opblock-post .opblock-summary-method {
  background: #3b4151;
}
.swagger-ui .opblock.opblock-get .opblock-summary-method {
  background: #795548;
}
.swagger-ui .opblock.opblock-delete .opblock-summary-method {
  background: #d72828;
}
.swagger-ui .opblock.opblock-post .opblock-summary {
  border-color: #b5b5b5;
}
.swagger-ui .opblock.opblock-get .opblock-summary {
  border-color: #795548;
}
.swagger-ui .opblock.opblock-post {
  border-color: #b5b5b5;
}
.swagger-ui .opblock.opblock-get {
  border-color: #795548;
}
.swagger-ui .opblock-description-wrapper {
  font-size: 18px;
  font-weight: bold;
}
.swagger-ui .info .description {
  font-size: 20px;
  text-align: center;
}
.swagger-ui .info .base_url {
  font-size: 16px;
}
.swagger-ui .opblock .opblock-summary {
  padding: 0;
}
.swagger-ui .opblock .opblock-summary-path {
  font-size: 19px;
}
.swagger-ui .customHTTPMethod {
  background: #3b4151;
  color: white;
  font-weight: 700;
  padding: 4px 9px;
  border-radius: 3px;
}
