/config/configconfig_dev.json
/config/configconfig_rel.json
/config/db/config_dev.sqlite3
/config/db/config_rel.sqlite3
/config/Passwords.txt
/Missions_dev/
/Missions_rel/
/resources/CRISM_Master
/resources/Themis
/documentation
.vscode
.DS_Store
node_modules/
.env
API/logs/*

/Missions
/db/
/config/db/
/scripts/ignore
sessions

#tools
