# Ensure shell scripts always use LF line endings
*.sh text eol=lf
_docker-entrypoint.sh text eol=lf

# Ensure other text files use LF
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
