config/configconfig_dev.json
config/db/config_dev.sqlite3
config/Passwords.txt
Missions_dev/
resources/CRISM_Master
resources/Themis
/documentation
.vscode
README.md
Missions/*
!Missions/Test
node_modules/
.env
API/logs/

#tools

scripts/essence/Tools/InSight