numpy==2.5.2
spiceypy==8.2.0
pymap3d==3.2.0
pypgstac==0.9.12
python-dotenv[cli]==1.2.3
uvicorn==0.52.4
psycopg[binary,pool]==3.3.4
stac-fastapi-pgstac==6.3.1
tipg==1.5.0
titiler.application==2.2.1
titiler-pgstac==3.1.0
planetcantile