.MeasureTool {
    width: 100%;
    height: 100%;
    display: flex;
    background: var(--color-a);
    color: var(--color-f);
    box-shadow: inset 2px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.MeasureTool #measureTop,
.MeasureTool #measureIcons {
    display: flex;
    justify-content: space-between;
}
.MeasureTool #measureTop {
    border-bottom: 1px solid var(--color-a1);
}
.MeasureTool #measureIcons {
    margin-right: 7px;
}
.MeasureTool #measureIcons > div {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 2px 0px 2px 2px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.MeasureTool #measureIcons > div:hover {
    color: var(--color-mmgis);
    background: var(--color-m1);
}

.MeasureTool #measureDem,
.MeasureTool #measureMode,
.MeasureTool #measureSamples,
.MeasureTool #measureUnit,
.MeasureTool #measureLOS,
.MeasureTool #measureObserverHeight,
.MeasureTool #measureTargetHeight {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 25px;
    padding-left: 7px;
    border-bottom: 1px solid var(--color-a-5);
}

.MeasureTool #measureDem > select,
.MeasureTool #measureMode > select,
.MeasureTool #measureSamples > select,
.MeasureTool #measureUnit > select {
    width: 135px;
}

.MeasureTool #measureLOS > .mmgis-checkbox {
    margin: 4px;
}
.MeasureTool #measureObserverHeight input,
.MeasureTool #measureTargetHeight input {
    border: none;
    padding: 1px 5px 0px 6px;
    height: 25px;
    width: 114px;
    background: var(--color-a1-5);
    text-align: right;
    color: var(--color-a7);
    border-left: 1px solid var(--color-a);
}
.MeasureTool .measureToolInputUnit {
    height: 25px;
    line-height: 27px;
    width: 21px;
    text-align: center;
    background: var(--color-a1-5);
    border-left: 1px solid var(--color-a);
    color: var(--color-a5);
    font-size: 13px;
}

.MeasureTool #measureLeft {
    width: 280px;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.MeasureTool #measureLeft #measureTitle {
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    padding-left: 6px;
    font-family: 'lato-light';
    text-transform: uppercase;
    color: var(--color-l);
}

.MeasureTool #measureInfo {
    width: 200px;
    height: 100%;
    display: flex;
    flex-flow: column;
    background: var(--color-a-5);
    padding: 0px 14px 0px 7px;
    justify-content: center;
}
.MeasureTool .measure-info-elm {
    display: flex;
    justify-content: space-between;
    height: 24px;
    line-height: 24px;
}
.MeasureTool .measure-info-elm > div:first-child {
    text-transform: uppercase;
    font-size: 12px;
    color: var(--color-a5)
}
.MeasureTool .measure-info-elm > div:last-child {
    font-size: 13px;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.MeasureTool #measureGraph {
    flex: 1;
    height: 100%;
    background: var(--color-a-5);
    position: relative;
}

.MeasureTool #measureVerticalCursor {
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background: var(--color-h);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.MeasureTool #measureSVGOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.MeasureTool #measureToolBar {
    width: 30px;
    height: 100%;
    display: flex;
    flex-flow: column;
}
.MeasureTool #measureToolBar > div {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.MeasureTool #measureToolBar > div:hover {
    color: var(--color-mmgis);
    background: var(--color-a1-5);
}

.MeasureTool #measureSVGLine {
    animation: dash 100s linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: -1000;
    }
}

/*dropdown*/
.MeasureTool .dropdown {
    background-color: var(--color-a1-5);
    color: #e1e1e1;
    border: none;
    width: 100%;
    height: 25px;
    font-size: 14px;
    padding-left: 2px;
}
.dropdown::after {
    color: #e1e1e1;
}
