.root {
    background: var(--color-k);
    width: 360px;
    border-radius: 3px;
    font-family: sans-serif;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
}

.title {
    padding: 1px 0px 0px 10px;
    height: 40px;
    line-height: 39px;
    font-size: 18px;
    background: var(--color-a1);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.titleLeft {
    display: flex;
}
.titleLeft > div {
    margin-left: 6px;
    line-height: 40px;
}

.content {
    padding: 16px 32px;
    overflow-y: auto;
    max-height: 80vh;
    line-height: 26px;
    font-family: 'roboto';
    text-align: center;
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    background: var(--color-a1);
    padding: 5px 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.noBtn {
    width: 80px;
    margin: 5px 8px;
    font-weight: bold;
    background: var(--color-a2);
    color: var(--color-a6);
    border-color: var(--color-a2);
}
.noBtn:hover {
    background: var(--color-a3);
    color: white;
}

.yesBtn {
    width: 80px;
    margin: 5px 8px;
    font-weight: bold;
    background: var(--color-c2);
    color: var(--color-a6);
    border-color: var(--color-c2);
}
.yesBtn:hover {
    background: var(--color-c);
    color: white;
}
