.ContextMenuMap {
    position: absolute;
    background: var(--color-a);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 1px;
    font-size: 15px;
    z-index: 1;
    transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
    overflow-y: auto;
}

.ContextMenuMap #contextMenuCursor {
    position: absolute;
    top: 0;
    left: 0;
}
.ContextMenuMap #contextMenuCursor > div:first-child {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
}
.ContextMenuMap #contextMenuCursor > div:last-child {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}

.ContextMenuMap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ContextMenuMap li {
    padding: 5px 16px 5px 16px;
    cursor: pointer;
    color: #aaa;
    border-top: 1px solid var(--color-a1);
    display: flex;
    transition: color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
    line-height: 18px;
}
.ContextMenuMap li:first-child {
    border-top: none;
}
.ContextMenuMap li i {
    padding: 0px 6px;
}
.ContextMenuMap li:hover {
    color: white;
    background: var(--color-a1);
}

.ContextMenuMap .contextMenuHeader {
}
.ContextMenuMap .contextMenuHeader span:nth-child(1) {
    color: var(--color-h);
    padding-right: 4px;
    font-size: 12px;
    line-height: 18px;
}
.ContextMenuMap .contextMenuHeader span:nth-child(2) {
    color: var(--color-a5);
    padding-right: 4px;
}
.ContextMenuMap .contextMenuHeader span:nth-child(3) {
    color: var(--color-a4);
    font-size: 12px;
    line-height: 18px;
    padding-left: 4px;
}
.ContextMenuMap .contextMenuHeader span:nth-child(4) {
    padding-left: 4px;
    color: var(--color-a7);
}

.ContextMenuMap .contextMenuFeatureItem {
    margin-left: 15px;
    padding-left: 15px;
    font-size: 13px;
    line-height: 15px;
    border-left: 1px solid var(--color-a1);
}