#CoordinatesDiv {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    margin: 0;
    margin-right: 41px;
    z-index: 20;
    display: flex;
    transition: bottom 0.2s ease-in;
}

#CoordinatesDiv .mouseLngLat {
    line-height: 30px;
    padding: 0px 8px;
    background: var(--color-a);
    border-radius: 3px;
    display: flex;
}
#CoordinatesDiv #mouseDesc {
    font-size: 13px;
    margin-bottom: 0;
    margin-right: 6px;
    color: var(--color-f);
    line-height: 30px;
    text-align: center;
}
#CoordinatesDiv #mouseLngLat {
    font-size: 15px;
    line-height: 30px;
    color: white;
    text-align: center;
}
#CoordinatesDiv #mouseElev {
    font-size: 15px;
    line-height: 30px;
    color: white;
    text-align: center;
    transition: opacity 0.1s ease-out;
}

#CoordinatesDiv .mouseLngLatPicking {
    height: 30px;
    line-height: 30px;
    background: var(--color-a);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 34px;
    display: flex;
    border-radius: 3px;
    transition: opacity 0.2s ease-in;
}
#CoordinatesDiv .mouseLngLatPicking.active {
    opacity: 1;
    pointer-events: all;
}

#CoordinatesDiv #mouseDescPicking {
    font-size: 13px;
    margin-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
    color: var(--color-f);
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
}
#CoordinatesDiv #mouseLngLatPicking {
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    display: flex;
}
#CoordinatesDiv #mouseLngLatPicking input {
    background: var(--color-g);
    color: var(--color-f);
    padding: 0px 6px;
    font-size: 15px;
    line-height: 30px;
    width: 130px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: border 0.2s ease-in;
}
#CoordinatesDiv #mouseLngLatPicking input:focus {
    border: 1px solid var(--color-c);
}
#CoordinatesDiv #mouseLngLatPicking > div {
    padding: 0px 8px;
    background: var(--color-a);
    font-size: 13px;
    font-weight: 500;
}

#CoordinatesDiv #mouseGoPicking {
    padding: 0px 6px;
    background: var(--color-h);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: background 0.2s ease-in;
    cursor: pointer;
    color: var(--color-a);
}
#CoordinatesDiv #mouseGoPicking:hover {
    background: var(--color-l);
}

#CoordinatesDiv #changeCoordType {
    height: 30px;
}
#CoordinatesDiv #changeCoordType .dropy {
    height: 30px;
    margin-bottom: 0px;
}
#CoordinatesDiv #changeCoordType .dropy__title {
    height: 30px;
    font-size: 13px;
    line-height: 30px;
}
#CoordinatesDiv #changeCoordType .dropy__title span {
    padding: 0px 1.875em 0px 0px;
    color: var(--color-f);
}
#CoordinatesDiv #changeCoordType .dropy__title i {
    line-height: 13px;
    color: var(--color-f);
}
#CoordinatesDiv #changeCoordType .dropy__content {
    overflow: visible;
    width: 360px;
}
#CoordinatesDiv #changeCoordType .dropy__content li a {
    padding: 2px 8px;
    font-size: 13px;
}

#CoordinatesDiv #pickLngLat {
    background: var(--color-a);
    color: var(--color-f);
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin: 3px 0px 3px 5px;
    pointer-events: all;
    transition: all 0.2s ease-in;
}
#CoordinatesDiv #pickLngLat:hover {
    color: var(--color-mmgis);
}
#CoordinatesDiv #pickLngLat.active {
    color: var(--color-mmgis);
}

#CoordinatesDiv #toggleTimeUI {
    width: 36px;
    height: 32px;
    margin-bottom: 0;
    position: absolute;
    right: -36px;
    background: var(--color-a);
    color: var(--color-f);
    text-align: center;
    cursor: pointer;
    line-height: 24px;
    margin: 3px 0px 3px 5px;
    pointer-events: all;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    transition: all 0.2s ease-in;
}
#CoordinatesDiv #toggleTimeUI > i:before {
    transition: all 0.2s ease-in;
}
#CoordinatesDiv #toggleTimeUI.active > i:before {
    font-size: 26px;
    padding-top: 8px;
}
#CoordinatesDiv #toggleTimeUI:hover,
#CoordinatesDiv #toggleTimeUI.active {
    transform: translateY(-10px);
    color: var(--color-mmgis);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    height: 42px;
}
