.mmgisModal {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
    z-index: 9998;
    opacity: 0;
}

#mmgisModalClose {
    position: absolute;
    top: 0;
    right: 0;
    color: #ddd;
    cursor: pointer;
    padding: 16px;
    transition: color 0.2s ease;
    background: var(--color-k);
    border-bottom-left-radius: 100%;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
}

#mmgisModalClose i {
    position: relative;
    top: -5px;
    right: -5px;
}
#mmgisModalClose:hover {
    color: var(--color-c);
}

#mmgisModalInner {
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
}
