#mmgisTimeUI {
    display: flex;
}
#mmgisTimeUIMain {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

#mmgisTimeUI input {
    background: var(--color-a1-5);
    color: var(--color-f);
    padding: 13px 10px 0px 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    width: 210px;
    border: none;
    border-top: 2px solid rgba(0, 0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: border 0.2s ease-in;
}
#mmgisTimeUI input:focus {
    border-bottom: 2px solid var(--color-c);
}
.mmgisTimeUIInput {
    position: relative;
}
.mmgisTimeUIInput > span {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    height: 20px;
    line-height: 22px;
    font-size: 11px;
    text-transform: uppercase;
    pointer-events: none;
    color: var(--color-a5);
}

#mmgisTimeUITimeline {
    display: flex;
    flex: 1;
    position: relative;
    overflow: hidden;
    /*cursor: ew-resize;*/
    user-select: none;
}

.mmgisTimeUITick {
    position: absolute;
    top: 0;
    display: flex;
}
.mmgisTimeUITick .mmgisTimeUITickSmall {
    height: 30px;
    background: var(--color-a3);
    width: 1px;
}
.mmgisTimeUITick .mmgisTimeUITickBig {
    height: 40px;
    background: var(--color-a6);
    width: 1px;
}
.mmgisTimeUITick .mmgisTimeUITickLabel {
    height: 40px;
    line-height: 20px;
    padding-left: 4px;
    text-transform: uppercase;
    font-size: 13px;
}

.mmgisTimeUITick .mmgisTimeUITickLabel span {
    font-size: 10px;
    text-transform: capitalize;
    color: var(--color-a6);
}
#mmgisTimeUIStartWrapper {
    border-right: 1px solid var(--color-c2);
}
#mmgisTimeUIEndWrapper {
    border-left: 1px solid var(--color-c2);
}
#mmgisTimeUIActionsLeft,
#mmgisTimeUIActionsRight {
    background: var(--color-a);
    display: flex;
    justify-content: space-between;
}
.mmgisTimeUIButton {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
