#timeUI {
    background: var(--color-a);
    height: 40px;
    width: calc(100vw - 40px);
    position: absolute;
    bottom: -40px;
    left: 40px;
    margin: 0;
    padding: 4px 8px;
    z-index: 20;
    font-size: 14px;
    transition: bottom 0.2s ease-in;
}

#timeUI > label {
    text-align: center;
    margin-left: 12px;
}

#timeUI > #currentTimeLabel {
    margin-left: 0;
    font-weight: bold;
    font-size: 16px;
}
#timeUI > #isRelativeTimeLabel {
    margin-left: 0;
}

#timeUI input {
    background: var(--color-g);
    color: var(--color-f);
    padding: 0px 6px;
    font-size: 15px;
    line-height: 30px;
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: border 0.2s ease-in;
}
#timeUI input:focus {
    border: 1px solid var(--color-c);
}

#timeUI #startTimeInput,
#timeUI #endTimeInput {
    width: 180px;
}

#timeUI input[type='checkbox'] {
    width: 13px;
    margin-left: 12px;
}
