#timeUI {
    background: rgba(29, 31, 32, 0.5);
    height: 40px;
    width: calc(100vw - 40px);
    position: absolute;
    bottom: -40px;
    left: 40px;
    margin: 0;
    z-index: 20;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in;
}
#timeUI.active {
    opacity: 1;
    pointer-events: all;
}
