doctype html
head
  title MMGIS / Configure
  link(rel='shortcut icon' href='public/images/logos/logo.png')
  link(type='text/css' rel='stylesheet' href='config/login/adminlogin.css')
  link(type='text/css' rel='stylesheet' href='public/fonts/materialdesignicons/css/materialdesignicons.min.css')
  script(type='text/javascript' src='public/jquery.min.js')
  script(type='text/javascript' src='config/login/adminlogin.js')
body.mmgisScrollbar
  #backIcon.mdi.mdi-keyboard-backspace.mdi-18px
  #setup
    | SETUP
  .container
    img(src='public/images/logos/mmgis.png' alt='MMGIS' onClick='back()')
    span#msg.error
    form.box(name='form1')
      h4
        | Admin
        span Dashboard
      h5 Sign in to your account.
      input#username(type='text' name='username' placeholder='Username' autocomplete='off')
      input#pwd(type='password' name='password' placeholder='Password' autocomplete='off')
      input#pwd_retype(type='password' name='password' placeholder='Retype Password' autocomplete='off')
      div.btn1(onClick='login()') Sign in