doctype html
head
  title MMGIS
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
  link(rel='shortcut icon' href='../resources/logo.png')
  style.
    @font-face {
    font-family: roboto;
    src: url("../public/fonts/roboto/Roboto-Regular.ttf");
    }
    @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }
    body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: white;
    user-select: none;
    }
    #main-container {
    width: 100%;
    height: 100%;
    animation: fadein 3.5s;
    }
    .background {
    background-image: url("../public/images/fallingastronaut.jpg");
    width: 100%;
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    }
    #top {
    width: 100%;
    height: 100px;
    }
    #middle {
    width: 100%;
    height: 100px;
    }
    #bottom {
    width: 100%;
    height: 50%;
    }
    #title {
        font-family: monospace;
    font-size: 20px;
    padding-left: 4px;
    color: #515151;
    font-weight: bold;
    }
    #message {
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    color: #cbcbcb;
    padding-top: 37px;
    }
    #button {
    text-align: center;
    width: 100%;
    }
    #link {
    text-decoration: none;
    font-family: monospace;
    color: #666;
    border-bottom: 1px solid rgba(68,68,68,0);
    transition: border-bottom 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    #link:hover {
    border-bottom: 1px solid rgba(68,68,68,1);
    }
#main-container.background
  #top
    #title MMGIS
  #middle
    #message Oops! You&apos;re not supposed to be up here so we&apos;re going to have to let you go. Sorry.
    #button
      a#link(href='/ssologoutredirect') Turn around
#bottom
footer
  script.