#layersTool {
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    background: var(--color-k);
    box-shadow: inset 2px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#layersToolHeader {
    width: 100%;
}

#layersTool #layersToolHeader .mmgisHelpButton {
    margin: 11px 4px;
}

#layersTool #searchLayers {
    display: flex;
    height: 36px;
    line-height: 33px;
    border-top: 1px solid var(--color-a-5);
    border-bottom: 1px solid var(--color-a-5);
    background: var(--color-a1);
}

#layersTool #filterLayers {
    display: flex;
    height: 40px;
    line-height: 18px;
    color: #ccc;
    justify-content: space-between;
}
#layersTool #filterLayers #title {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding-left: 6px;
    font-family: 'lato-light';
    text-transform: uppercase;
    color: var(--color-l);
}
#layersTool #filterLayers > div {
    display: flex;
}
#layersTool #filterLayers > .right {
    margin-right: 24px;
}
#layersTool #filterLayers > .right > div {
    width: 24px;
    height: 28px;
    padding: 2px;
    margin: 8px 3px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background 0.2s cubic-bezier(0.39, 0.575, 0.565, 1),
        border 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
        color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#layersTool #filterLayers .right > div {
    color: #999;
}
#layersTool #filterLayers .right > div.on {
    color: #ccc;
}
#layersTool #filterLayers div.vector.on {
    border-bottom: 4px solid var(--color-vector);
}
#layersTool #filterLayers div.tile.on {
    border-bottom: 4px solid var(--color-tile);
}
#layersTool #filterLayers div.vectortile.on {
    border-bottom: 4px solid var(--color-vectortile);
}
#layersTool #filterLayers div.query.on {
    border-bottom: 4px solid var(--color-query);
}
#layersTool #filterLayers div.data.on {
    border-bottom: 4px solid var(--color-data);
}
#layersTool #filterLayers div.model.on {
    border-bottom: 4px solid var(--color-model);
}
#layersTool #filterLayers div.visible.on {
    border-bottom: 4px solid rgba(255, 255, 255, 1);
}
#layersTool #searchLayers input {
    background: var(--color-a1);
    flex: 1;
    margin-right: 62px;
    color: #ccc;
    padding-left: 28px;
    border: none;
    border-right: 1px solid var(--color-a-5);
}
#layersTool #searchLayers input::placeholder {
    color: var(--color-a4);
}
#layersTool #searchLayers .mdi-magnify {
    position: absolute;
    left: 6px;
    color: #999;
    line-height: 35px;
    pointer-events: none;
}

#layersTool .sublayerHeading {
    color: white;
}

#layersTool #searchLayers > div {
    cursor: pointer;
    color: #999;
    transition: color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1),
        opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
    width: 30px;
    text-align: center;
}
#layersTool #searchLayers > div:hover {
    color: #fff;
}
#layersTool #searchLayers > div#clear {
    position: absolute;
    right: 62px;
    padding-top: 1px;
    height: 34px;
    opacity: 0;
}
#layersTool #searchLayers > div#clear.shown {
    opacity: 1;
}
#layersTool #searchLayers > div#expand {
    position: absolute;
    right: 30px;
    background: var(--color-a1);
    padding-top: 1px;
    height: 34px;
}
#layersTool #searchLayers > div#collapse {
    position: absolute;
    right: 0;
    background: var(--color-a1);
    padding-top: 1px;
    height: 34px;
}

#layersTool #layersToolList {
    list-style-type: none;
    padding: 0;
    margin: 0px 0px 0px 6px;
}

#layersToolList > li {
    height: 30px;
    display: flex;
    flex-flow: column;
    font-size: 14px;
    color: var(--color-f);
    overflow: hidden;
}
#layersToolList > li.forceOff {
    height: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    overflow: hidden;
}
#layersToolList > li.forceOff2 {
    height: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    overflow: hidden;
}
#layersTool #layersToolList > li:first-child {
    margin-top: 0px !important;
}

#layersToolList .title {
    height: 30px;
    line-height: 30px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    background: var(--color-a1-5);
}

#layersTool .layerExport,
#layersTool .settings {
    height: 0px;
    opacity: 0;
    overflow: hidden;
    color: #ccc;
}
#layersTool .layerExport {
    padding: 0 !important;
}
#layersTool .layerExport ul,
#layersTool .settings ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#layersTool .settings .layerSettingsTitle {
    display: flex;
    height: 30px;
    line-height: 30px;
}
#layersTool .settings .layerSettingsTitle > div:first-child {
    color: var(--color-h);
    text-transform: uppercase;
    font-size: 12px;
}
#layersTool .settings .layerSettingsTitle > div:last-child {
    
}
#layersTool .settings ul > li {
    line-height: 30px;
}
#layersTool .settings ul > li > div {
    display: flex;
    justify-content: space-between;
}

#layersTool .layerExport li {
    height: 28px;
    line-height: 26px;
    padding: 2px 6px 2px 12px;
    cursor: pointer;
    color: #ddd;
    border-bottom: 1px solid var(--color-a-5);
    transition: background 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#layersTool .layerExport li:hover {
    background: var(--color-a1);
}

#layersTool .layerExport ul > li > div:hover {
    color: white;
}
#layersTool .settings ul > li > div > div {
    font-size: 14px;
    color: white;
}
#layersTool .settings ul > li .right {
    display: flex;
    justify-content: space-between;
}

#layersTool .settings ul > li input[type='number'] {
    background: #222;
    width: 80px;
    color: #ccc;
    text-align: right;
    padding: 0px 3px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
#layersTool .settings ul > li input[type='range'] {
    width: 120px;
    margin: 6px 0px;
}
#layersTool .settings span {
    font-size: 12px;
    padding-left: 4px;
}
#layersTool .settings span {
    font-size: 12px;
    padding-left: 4px;
}
#layersTool .settings .dataShader .dropy__title > span {
    width: calc(100% - 19px);
}
#layersTool .settings .dataShader .dropy__title > i {
    line-height: 13px;
    right: 0;
    line-height: 22px;
    background: var(--color-a1-5);
    height: 22px;
    top: -9px;
}

#layersTool #layersToolList > li.download_on,
#layersTool #layersToolList > li.gears_on {
    height: auto;
    color: white;
    background: var(--color-a2);
}
#layersTool #layersToolList > li.download_on .layerExport,
#layersTool #layersToolList > li.gears_on .settings {
    height: auto;
    opacity: 1;
    padding: 2px 6px 2px 12px;
}

#layersTool .reload,
#layersTool .reset,
#layersTool .layerDownload,
#layersTool .gears,
#layersTool .LayersToolInfo,
#layersTool .time {
    width: 30px;
    height: 100%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: #ccc;
    transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95),
        background 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#layersTool .reload,
#layersTool .layerDownload,
#layersTool .gears,
#layersTool .LayersToolInfo {
    color: transparent;
}
#layersTool .reload:hover,
#layersTool .layerDownload:hover,
#layersTool .gears:hover,
#layersTool .LayersToolInfo:hover {
    background: var(--color-k);
}
#layersTool .reset:hover {
    color: white;
}
#layersTool .reset {
    display: none;
}
#layersTool #layersToolList > li.gears_on .reset {
    display: block;
}

#layersTool .headercollapse:hover,
#layersTool li.download_on .layerDownload,
#layersTool li:hover .layerDownload,
#layersTool li.gears_on .gears,
#layersTool li:hover .reload,
#layersTool li:hover .gears,
#layersTool li:hover .LayersToolInfo {
    color: #fff;
}

#layersToolContent {
    flex: 1;
    overflow-y: scroll;
}
#layersToolContent #layersToolList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#layersTool .layerName {
    cursor: pointer;
    line-height: 31px;
    height: 100%;
    flex: 1;
    user-select: none;
    white-space: nowrap;
}
#layersTool li:hover .layerName {
    text-overflow: ellipsis;
    overflow: hidden;
}
#layersTool .layerCount {
    display: none;
    background: var(--color-a1);
    font-size: 11px;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    margin: 6px 0px 6px 6px;
    color: #ccc;
    text-align: center;
    line-height: 19px;
}
#layersTool .headerChevron {
    cursor: pointer;
}

.layersToolColorOFF {
    width: 10px;
    height: 100%;
}
.layersToolColor {
    width: 12px;
    height: 100%;
    cursor: ns-resize;
    color: rgba(255, 255, 255, 0.6);
    border-right: 1px solid var(--color-a);
    box-sizing: unset;
    transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.layersToolColor > i.mdi:before {
    font-size: 14px;
    margin-left: -1px;
}
.layersToolColor:hover {
    color: white;
}
.layersToolColor.vector {
    background: var(--color-vector);
}
.layersToolColor.tile {
    background: var(--color-tile);
}
.layersToolColor.vectortile {
    background: var(--color-vectortile);
}
.layersToolColor.query {
    background: var(--color-query);
}
.layersToolColor.data {
    background: var(--color-data);
}
.layersToolColor.model {
    background: var(--color-model);
}

#LayersToolLayer.model {
    height: 33px;
    padding: 5px;
    max-width: 100%;
    display: flex;
    border-top: 3px solid black;
    background: #552f89;
    user-select: none;
}

#layersTool .checkboxcont {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#layersTool .checkbox {
    margin: 5px;
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-a3);
    border-radius: 2px;
    transition: background 0.2s cubic-bezier(0.39, 0.575, 0.565, 1),
        border 0.1s cubic-bezier(0.39, 0.575, 0.565, 1),
        border-radius 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#layersTool .settings .checkbox {
    border: 1px solid var(--color-a4);
}

#layersTool .checkbox.on {
    background: var(--color-a7);
    border: 0px solid #777;
}
#layersTool .checkbox.small.on {
    background: var(--color-a7);
}
#layersTool .checkbox:not(.on):hover {
    background: rgba(255, 255, 255, 0.1);
}
#layersTool .checkbox.loading {
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: layerLoadingSpin 1s ease-in-out infinite;
}
#layersTool .checkbox.small {
    width: 16px;
    height: 16px;
    margin: 7px;
}
#layersTool .checkbox.smaller {
    width: 12px;
    height: 12px;
    margin: 9px;
}
#layersTool .checkboxSmall {
    margin: 3px;
    width: 12px;
    height: 13px;
    border: 2px solid #777;
    border-radius: 3px;
    cursor: pointer;
    transition: background 0.2s cubic-bezier(0.39, 0.575, 0.565, 1),
        border 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#layersTool .checkboxSmall.on {
    background: white;
    border: 0px solid #777;
}

#layersettings {
    height: 33px;
    padding: 5px;
    border-top: 3px solid black;
}

#dropmenu {
    max-width: 100%;
}

#LayersTooltileLayer:hover {
    font-weight: bolder;
    color: white;
}

#LayersToolvectorLayer:hover {
    font-weight: bolder;
    color: #ffffff;
}

#LayersToolmodelLayer:hover {
    font-weight: bolder;
    color: white;
}

#layersettings div.off {
    font-weight: normal;
    color: white;
    background: black;
}

#LayersToolopacitySlider {
    background-color: '#333';
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#LayersToolNav {
    padding: 0px 10px;
    text-align: left;
    background: var(--color-mmgis);
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
}

#LayersToolNav .LayersToolNavButton {
    transition: background 0.2s ease-out;
    height: 30px;
    display: inline-flex;
    text-align: center;
    line-height: 30px;
    border-radius: 1px;
    vertical-align: middle;
    cursor: pointer;
    padding: 0px 6px 0px 4px;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

#layersTool .dropdown {
    background-color: #222;
    border: none;
    margin: 1px 0px;
    width: 120px;
    height: 28px;
    font-size: 14px;
    color: var(--color-f);
    padding: 0px 2px;
}
#layersTool .dropdown2 {
    background-color: #222;
    border: none;
    height: 30px;
    font-size: 14px;
    color: var(--color-f);
    padding-left: 10px;
}
#layersTool .sublayerDropdown {
    width: unset;
    height: 20px;
    margin-top: 5px;
    padding: 0px 2px 1px 2px;
    line-height: 10px;
    font-size: 13px;
}

#layersTool .sublayer {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding-left: 20px;
}

#layersTool .sublayer > div:first-child {
    font-size: 13px;
}

#layersTool .layernotfound {
    cursor: not-allowed;
}
#layersTool .layernotfound > div {
    pointer-events: none;
    background: #541d1d;
}

#layersTool .layernotfound .checkboxcont .checkbox {
    background: transparent !important;
    border: 2px solid #777 !important;
}

#layersTool .headerPowerState {
    color: var(--color-h);
    padding: 0px 6px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#layersTool .headerPowerState:hover {
    color: var(--color-h);
}
#layersTool .headerPowerState.on {
    color: var(--color-a2);
}
#layersTool .headerPowerState.on:hover {
    color: var(--color-a7);
}

@keyframes layerLoadingSpin {
    to {
        transform: rotate(360deg);
    }
}


.layersToolExport {
    cursor: default;
    height: unset !important;
}
.layersToolExport > div {
    display: flex;
    margin-bottom: 0px;
}
.layersToolExport > div:first-child {
    margin-bottom: 0px;
    color: #fff;
}
.layersToolExport > div:not(:first-child) {
    justify-content: space-between;
    line-height: 27px;
}
.layersToolExport > div:first-child > div {
    padding-left: 4px;
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}
.layersToolExport:hover {
    background: var(--color-a2) !important;
}
.layersToolExport > div > div:first-child {
    padding-left: 28px;
    line-height: 29px;
}
#layersTool .layersToolExport > div > select.dropdown {
    background-color: var(--color-a1);
    color: #ededed;
    border: none;
    width: 220px;
    height: 27px;
    font-size: 14px;
    padding: 0px 3px;
    border-left: 1px solid var(--color-a1-5);
}
.layersToolExportGo {
    display: block;
    width: 100%;
    margin-left: 28px;
    padding-left: 0px !important;
    height: 27px;
    line-height: 27px;
    margin-top: 2px;
    margin-bottom: 1px;
    background-color: var(--color-a);
}
.layersToolExportGo:hover {
    background-color: var(--color-a1-5);
}