/* Dropy style */
/* Normalize */
ul,
dl {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

dd {
    -webkit-margin-start: 0;
}

/* Dropy style */
.dropy {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0.9375em;
    font-size: 16px;
}

.dropy__title {
    position: relative;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    text-decoration: none;
    font-size: 1em;
    color: #bbb;
    cursor: pointer;
    -webkit-transition: border-color 250ms ease-in-out;
    transition: border-color 250ms ease-in-out;
}
.dropy__title span {
    display: block;
    padding: 0.625em 1.875em 0.625em 0.625em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
}
.dropy__title:hover {
    border-color: #868686;
}
.dropy__title:after {
    position: absolute;
    right: 0.9375em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-top: 0.25em solid #868686;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
}

.dropy__content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.dropy__content ul {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0.125em;
    max-height: 0;
    opacity: 0;
    -webkit-transition: opacity 250ms ease-in-out, max-height 250ms ease-in-out;
    transition: opacity 250ms ease-in-out, max-height 250ms ease-in-out;
    list-style: none;
    background: #fafafa;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.dropy__content ul li:first-child a:hover {
    border-radius: 0.2em 0.2em 0 0;
}
.dropy__content ul li:last-child a {
    margin-bottom: 0.9375em;
}
.dropy__content ul li:last-child a:hover {
    border-radius: 0 0 0.125em 0.125em;
}
.dropy__content li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding: 0.625rem 0.9375em;
    font-size: 0.875em;
    color: #464646;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: background-color 250ms ease-in-out,
        color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.dropy__content li a:hover {
    color: #666666;
    background-color: #eeeeee;
}
.dropy__content .dropy__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 0.9735em;
    padding: 0.625em 0.9735em;
    font-size: 1em;
}
.dropy__content .selected {
    font-weight: 700 !important;
    color: #e75854;
}

.dropy.open .dropy__content ul {
    max-height: 18.75em;
    overflow-y: auto;
    opacity: 1;
}

.dropy.dark .dropy__title {
    border-color: #868686;
    color: #cccccc;
}
.dropy.dark .dropy__title:hover {
    border-color: #cccccc;
}
