.datasets {
  width: 80%;
  padding: 0px 10%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: calc(50% - 112.5px);
  font-family: "Roboto", sans-serif;
}

.datasets .existing {
  height: 50vh;
  display: flex;
  flex-flow: column;
}
.datasets .existing .title {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
  color: #1a1a1a;
}
.datasets .existing ul {
  padding: 0;
  margin: 0;
  flex: 1;
  overflow-y: auto;
  font-weight: 500;
}
.datasets .existing ul li {
  display: flex;
  justify-content: space-between;
}

.datasets .recreate {
  text-align: center;
  height: 50vh;
}
.datasets .recreate .datasetName {
  width: 100%;
}
.datasets .recreate .datasetUpload {
  width: 100%;
  height: 66px;
  position: relative;
}
.datasets .recreate .datasetUploadFilename {
  height: 66px;
  line-height: 66px;
  font-size: 18px;
}
.datasets .recreate .datasetRecreate a {
  width: 100%;
  background-color: #0c5ca1;
}

#datasetUploadButton {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#datasetUploadButton a {
  cursor: pointer;
  pointer-events: none;
  background-color: #1486ed;
}
#datasetUploadButton input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  height: 36px;
  width: 120px;
}
