.keys {
  padding: 20px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-flow: column;
}

.keys #keys_title {
  text-align: center;
  font-size: 28px;
  color: #1a1a1a;
}

.keys ul {
  width: 100%;
}

.keys .keys_generate {
  line-height: 34px;
  background-color: #c09015 !important;
}
.keys .keys_generate i {
  padding: 0px 4px;
}

.keys .keys_generation {
  margin-bottom: 0;
}

.keys #keys_result {
  width: 100%;
  height: 36px;
  padding: 0px 8.5%;
  display: flex;
}
.keys #keys_token_title {
  width: 60px;
  text-align: center;
  line-height: 36px;
  background: #1a1a1a;
  color: white;
}
.keys #keys_token {
  flex: 1;
  text-align: center;
  padding: 2px 8px;
  line-height: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  font-weight: bold;
  background: #fbf3df;
  border-top: 1px solid #c09015;
  border-bottom: 1px solid #c09015;
}
.keys #keys_token_copy {
  width: 36px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  background: #1a1a1a;
  color: white;
}
.keys #keys_token_copy:hover {
  background: #383838;
}

.keys #keys_examples {
  padding: 0px 8.5%;
}
.keys #keys_examples li {
  padding-bottom: 7px;
  border-bottom: 1px solid #eee;
}
.keys #keys_examples li > div:first-child {
  padding: 7px;
  color: #1a1a1a;
  font-weight: bold;
}
.keys #keys_examples li > div:last-child {
  font-family: monospace;
  padding: 7px;
  word-break: break-all;
}
.keys #keys_examples span {
  background: #fbf3df;
  border-bottom: 1px solid #c09015;
}

.keys #keys_existing ul li {
  margin: 0px 8.5%;
  width: 83%;
  height: 36px;
  line-height: 36px;
  display: flex;
  border-bottom: 1px solid #c09015;
}
.keys #keys_existing ul li:first-child {
  border-top: 1px solid #c09015;
}
.keys #keys_existing ul li > div:nth-child(1) {
  background: #1a1a1a;
  color: white;
  padding: 0px 16px;
}
.keys #keys_existing ul li > div:nth-child(2) {
  padding: 0px 16px;
  flex: 1;
  border-right: 1px solid #c09015;
}
.keys #keys_existing ul li > div:nth-child(3) {
  padding: 0px 16px;
  text-align: center;
  font-size: 13px;
  min-width: 260px;
  display: flex;
  text-transform: uppercase;
}
.expire-expired {
  width: 16px;
  height: 16px;
  margin: 10px;
  border-radius: 50%;
  background: #c01515;
}
.expire-active {
  width: 16px;
  height: 16px;
  margin: 10px;
  border-radius: 50%;
  background: #2fc015;
}
.expire-never {
  width: 16px;
  height: 16px;
  margin: 10px;
  border-radius: 50%;
  background: #15c0c0;
}
.keys #keys_existing ul li > div:nth-child(4) {
  padding: 0px 8px;
  background: #1a1a1a;
  color: white;
  cursor: pointer;
}
.keys #keys_existing ul li > div:nth-child(4):hover {
  background: #c01515;
}
