.webhooks {
  padding: 20px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-flow: column;
}
.webhooks .title {
  text-align: center;
  font-size: 28px;
  color: #1a1a1a;
}
.webhooks .row {
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.webhooks .CodeMirror {
  margin: 0;
}
.webhooks .inject-label {
  margin-top: 0%;
}
.webhooks .card:nth-of-type(even) {
  background: rgba(0, 0, 0, 0.03);
}
