.root {
    background: var(--color-k);
    width: 840px;
    max-width: 90vw;
    border-radius: 3px;
    font-family: sans-serif;
}

.title {
    padding: 1px 0px 0px 10px;
    height: 40px;
    line-height: 39px;
    font-size: 18px;
    background: var(--color-i);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.titleLeft {
    display: flex;
}
.titleLeft > div {
    margin-left: 6px;
    line-height: 40px;
}

.closeBtn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.15s;
}
.closeBtn:hover {
    opacity: 1;
}

.content {
    padding: 20px 40px 40px 40px;
    overflow-y: auto;
    max-height: 80vh;
}

.content code {
    background: var(--color-a1);
    padding: 0px 4px;
    border-radius: 2px;
    color: var(--color-a6);
}
.content h2 {
    margin-top: 8px;
    color: var(--color-r5);
}
.content h3 {
    margin-top: 36px;
    color: var(--color-p0);
}
.content h4 {
    color: var(--color-p2);
}
.content ul {
    margin-left: 30px;
    margin-bottom: 20px;
}
.content li {
    margin: 4px 0px;
    line-height: 22px;
}
.content pre {
    background: var(--color-a1);
    border: 1px solid var(--color-a2);
    padding: 8px;
}
.content pre code {
    padding: 0px;
    color: var(--color-p3);
}
