extends layout

block content
  nav(class="navbar navbar-expand-lg navbar-light bg-light")
    a(class="navbar-brand" href="#") #{title}
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")

    div(class="collapse navbar-collapse" id="navbarTogglerDemo02")
      ul(class="navbar-nav mr-auto mt-2 mt-lg-0")
        li(class="nav-item active")
          a(class="nav-link" href="#") Home 
            span(class="sr-only")(current)
        li(class="nav-item")
          a(class="nav-link" href="http://miplmmgis.jpl.nasa.gov/mmgis/MMGIS/") MMGIS

        li(class="nav-item")
          a(class="nav-link disabled" href="#") Disabled

      form.inline
        span
          button(class="btn btn-outline-primary my-2 my-sm-0" type="submit") Sign In 
        span 
          button(class="btn btn-outline-success my-2 my-sm-0" type="submit") Sign Up
  .container(style="margin-top: 20px")
    .row
      .col-md-12
        //- h1= title
        //- hr
        p Welcome to #{title} service.
        hr