.drawToolFileModal {
    min-width: 615px;
    color: var(--color-f);
    background: var(--color-a);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    margin: 30px 120px 100px 120px;
    max-height: 80vh;
    font-size: 14px;
}
.drawToolFileModal .drawToolButton1 {
    padding: 5px 12px;
}

.drawToolFileModal input[type='text'],
.drawToolFileModal input[type='number'] {
    flex: 1 1;
    border: none;
    padding: 0px 8px;
    font-size: 14px;
    height: 30px;
    width: 100%;
    background: var(--color-a1-5);
    color: var(--color-a7);
}
#drawToolFileModalHeading {
    display: flex;
    justify-content: space-between;
    height: 42px;
    padding: 8px 10px 0px 10px;
    margin-bottom: 8px;
    position: relative;
    background: var(--color-a1);
    border-bottom: 1px solid var(--color-a);
}
#drawToolFileModalHeadingName {
    font-size: 18px;
    line-height: 26px;
    padding-left: 4px;
}
#drawToolFileModalHeading > div {
    display: flex;
    padding: 0px;
}
#drawToolFileModalBody {
}
#drawToolFileModalBody > div {
    margin-bottom: 16px;
}

#drawToolFileModalBodyName {
    padding: 0px 12px;
    flex: 1;
}
#drawToolFileModalBodyName > div {
    line-height: 30px;
    color: var(--color-blue);
}
#drawToolFileModelUploadedFrom {
    color: var(--color-p0);
    font-size: 14px;
    text-align: center;
}
#drawToolFileModalBodyTemplate {
    padding: 0px 12px;
    flex: 1;
}
#drawToolFileModalBodyTemplate > div {
    display: flex;
}
#drawToolFileModalBodyTemplate > div > i {
    margin: 0px 4px;
}
#drawToolFileModalBodyTemplate > div:first-child {
    padding-right: 8px;
    line-height: 30px;
    color: var(--color-blue);
}
#drawToolFileModalBodyTemplate > div > span {
    margin: 0px 10px;
    line-height: 30px;
}

#drawToolFileModalTemplateDropdown {
    flex: 1;
    height: 30px;
    background: var(--color-a1-5);
}
#drawToolFileModalTemplateDropdown .dropy {
    margin-bottom: 0;
}
#drawToolFileModalTemplateDropdown .dropy__title {
    line-height: 11px;
    font-size: 14px;
}
#drawToolFileModalTemplateDropdown .dropy__title > i {
    transform: translateY(30%);
}
#drawToolFileModalTemplateNew {
    width: 72px;
    margin: 0px;
    height: 30px;
    line-height: 22px;
    font-size: 13px;
    background: var(--color-a1);
    transition: background 0.2s ease-in-out;
}
#drawToolFileModalTemplateNew:hover {
    background: var(--color-a2);
}
#drawToolFileModalActions {
    display: flex;
    padding: 2px 10px;
    justify-content: space-between;
    background: var(--color-a1);
    border-top: 1px solid var(--color-a);
}
#drawToolFileModalActionsCancel {
    background: var(--color-a1);
}

#drawToolFileUpload {
    visibility: hidden;
    pointer-events: none;
    position: relative;
    top: -4px;
    font-size: 12px;
    width: 74px;
    padding: 0px 8px;
    cursor: pointer;
    height: 30px;
    background: var(--color-a1-5);
    color: var(--color-a5);
    box-sizing: border-box;
    line-height: 30px;
    text-align: center;
    transition: background 0.2s ease-out;
}
#drawToolFileUpload:hover {
    color: var(--color-a7);
    background: var(--color-a2);
}
#drawToolFileUpload i {
    cursor: pointer;
    pointer-events: none;
}
#drawToolFileUpload input {
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    height: 30px;
    width: 68px;
}

#drawToolDrawFilesNewLoading {
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -3px;
    left: 0px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#drawToolDrawFilesNewLoading > div {
    width: 30%;
    height: 100%;
    background: var(--color-c);
    animation: drawToolLoading1 1s ease-in-out infinite;
}
@keyframes drawToolLoading1 {
    0% {
        transform: translateX(-100%);
        width: 30%;
    }
    100% {
        transform: translateX(230%);
        width: 60%;
    }
}
