/*Button*/
.mmgisButton {
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    color: #999;
    background-color: #111;
    border-radius: 2px;
    border: 1px solid #666;
    width: auto;
    display: inline-block;
    padding-left: 14px;
    padding-right: 14px;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    margin: 8px;
    cursor: pointer;
    word-wrap: break-word;
    vertical-align: middle;
}
.mmgisButton:hover {
    color: rgba(255, 255, 255, 0.87);
}
.mmgisButton.active {
    color: rgba(0, 0, 0, 0.85);
    background-color: #d1d1d1;
    font-weight: bold;
}

/*Button2*/
.mmgisButton2 {
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    color: #999;
    width: auto;
    display: inline-block;
    height: 28px;
    padding: 2px 6px 2px 6px;
    font-size: 14px;
    line-height: 28px;
    margin: 8px;
    cursor: pointer;
    word-wrap: break-word;
    vertical-align: middle;
}
.mmgisButton2:hover {
    color: rgba(255, 255, 255, 0.87);
    border-bottom: 1px solid rgba(255, 255, 255, 0.87);
}
.mmgisButton2.active {
    color: rgba(255, 255, 255, 0.87);
    background-color: #124254;
}

/*Button3*/
.mmgisButton3 {
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    color: #bbb;
    background-color: var(--color-a);
    width: auto;
    display: inline-block;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    margin: 4px 6px;
    cursor: pointer;
    word-wrap: break-word;
    vertical-align: middle;
}
.mmgisButton3:hover {
    color: rgba(255, 255, 255, 0.87);
}
.mmgisButton3.active {
    color: rgba(255, 255, 255, 0.87);
    background-color: #124254;
}

/*Button4*/
.mmgisButton4 {
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    color: #999;
    background-color: #111;
    border-radius: 2px;
    border: 1px solid #666;
    width: auto;
    display: inline-block;
    padding-left: 14px;
    padding-right: 14px;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    margin: 8px;
    cursor: pointer;
    word-wrap: break-word;
    vertical-align: middle;
}
.mmgisButton4:hover {
    color: #fffdf5;
}
.mmgisButton4.active {
    color: black;
    font-weight: bold;
    background-color: #fffdf5;
}

/*Button5*/
.mmgisButton5 {
    height: 30px;
    line-height: 30px;
    padding: 0px 4px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    display: flex;
    transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.mmgisButton5:hover {
    color: white;
    background: var(--color-k);
}

/*RadioBar*/
.mmgisRadioBar {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 0;
}
.mmgisRadioBar div {
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    color: #999;
    border: 1px solid #666;
    border-right: none;
    background-color: #111;
    width: auto;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    padding-left: 14px;
    padding-right: 14px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.mmgisRadioBar div:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.mmgisRadioBar div:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: 1px solid #666;
}
.mmgisRadioBar div:hover {
    color: rgba(255, 255, 255, 0.87);
}
.mmgisRadioBar div.active {
    color: rgba(255, 255, 255, 0.87);
    background-color: #124254;
}
.mmgisRadioBar div.active:hover {
    background-color: #0d303d;
}
.mmgisRadioBar.disabled {
    pointer-events: none;
}
.mmgisRadioBar.disabled div:not(.active) {
    color: #222;
    background-color: #111;
}
.mmgisRadioBar.off div {
    pointer-events: none;
    color: #222;
    background-color: #111;
}

/*RadioBar2*/
.mmgisRadioBar2 {
    height: 28px;
    display: inline-block;
    font-size: 0;
}
.mmgisRadioBar2 div {
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    color: var(--color-f);
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0.8;
    overflow: hidden;
    border-bottom: 1px solid var(--color-i);
}
.mmgisRadioBar2 div:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.mmgisRadioBar2 div:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.mmgisRadioBar2 div:hover {
    color: var(--color-mmgis);
    background: var(--color-i);
    opacity: 1;
}
.mmgisRadioBar2 div.active {
    color: var(--color-mmgis);
    background: var(--color-i);
    font-weight: bold;
    opacity: 1;
}
.mmgisRadioBar2 div.active:hover {
    background-color: none;
}
.mmgisRadioBar2.disabled {
    pointer-events: none;
}
.mmgisRadioBar2.disabled div:not(.active) {
    color: #222;
}
.mmgisRadioBar2.off div {
    pointer-events: none;
    color: #222;
}

/*RadioBar3*/
.mmgisRadioBar3 {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 0;
}
.mmgisRadioBar3 div {
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    color: #999;
    border-right: none;
    background-color: rgba(0, 0, 0, 0.44);
    width: auto;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    padding-left: 14px;
    padding-right: 14px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.mmgisRadioBar3 div:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.mmgisRadioBar3 div:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.mmgisRadioBar3 div:hover {
    color: #eee;
}
.mmgisRadioBar3 div.active {
    color: #eee;
    background-color: #000000b0;
}
.mmgisRadioBar3 div.active:hover {
    background-color: #000000b0;
}
.mmgisRadioBar3.disabled {
    pointer-events: none;
}
.mmgisRadioBar3.disabled div:not(.active) {
    color: #666;
    background-color: rgba(0, 0, 0, 0.29);
}
.mmgisRadioBar3.off div {
    pointer-events: none;
    color: #666;
    background-color: rgba(0, 0, 0, 0.29);
}

/*RadioBar4*/
.mmgisRadioBar4 {
    display: flex;
}
.mmgisRadioBar4 div {
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    color: #999;
    border-right: none;
    background-color: rgba(0, 0, 0, 0.44);
    width: auto;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    flex: 1;
    cursor: pointer;
}
.mmgisRadioBar4 div:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.mmgisRadioBar4 div:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.mmgisRadioBar4 div:hover {
    color: #eee;
}
.mmgisRadioBar4 div.active {
    color: #eee;
    background-color: green;
}
.mmgisRadioBar4 div.active:hover {
    background-color: #000000b0;
}
.mmgisRadioBar4.disabled {
    pointer-events: none;
}
.mmgisRadioBar4.disabled div:not(.active) {
    color: #666;
    background-color: rgba(0, 0, 0, 0.29);
}
.mmgisRadioBar4.off div {
    pointer-events: none;
    color: #666;
    background-color: rgba(0, 0, 0, 0.29);
}

/*RadioBarVertical*/
.mmgisRadioBarVertical {
    font-size: 0;
}
.mmgisRadioBarVertical div {
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    color: #777;
    width: auto;
    height: 28px;
    line-height: 28px;
    padding-left: 2px;
    font-size: 18px;
    cursor: pointer;
}
.mmgisRadioBarVertical div:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.mmgisRadioBarVertical div:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.mmgisRadioBarVertical div:hover {
    color: #aaa;
}
.mmgisRadioBarVertical div.active {
    color: #eee;
}
.mmgisRadioBarVertical div.active:hover {
    background-color: none;
}
.mmgisRadioBarVertical.disabled {
    pointer-events: none;
}
.mmgisRadioBarVertical.disabled div:not(.active) {
    color: #222;
}
.mmgisRadioBarVertical.off div {
    pointer-events: none;
    color: #222;
}

/*short semantic dropdown*/
.ui.dropdown.selection.alittlelonger {
    width: 200px;
}
.ui.dropdown.selection.afourthlonger {
    width: 25%;
    min-width: 400px !important;
}
.ui.dropdown.selection.short {
    padding: 0.5em 0.6em 0.5em 0.6em;
    min-height: 0;
    height: 30px !important;
    min-width: 0;
    border-radius: 0px;
    border: 1px solid var(--color-e);
    background: var(--color-i);
    color: rgba(255, 255, 255, 0.87);
}
.ui.dropdown.selection.short.lower {
    margin-top: 7px;
}
.ui.dropdown.selection.short.w100 {
    width: 100%;
}
.ui.dropdown.selection.short .text {
    color: rgba(255, 255, 255, 0.87) !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    width: calc(100% - 5px) !important;
    overflow: hidden;
}
.ui.dropdown.selection.short .dropdown.icon {
    padding: 0.55em;
}
.ui.dropdown.selection.short div .item {
    padding: 0.5em 0.6em 0.5em 0.6em !important;
    min-height: 0;
}
.ui.selection.active.dropdown,
.ui.selection.active.dropdown .menu {
    border-color: var(--color-mmgis) !important;
}

.ui.dropdown.searchSelect {
    font-size: 14px;
    width: 160px;
}
.ui.dropdown.searchSelect .menu {
    background: var(--color-a);
    color: white;
}
.ui.dropdown.searchSelect .menu .item {
    color: rgba(255, 255, 255, 0.87);
    border-top: 1px solid var(--color-b);
    transition: background 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95),
        color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.ui.dropdown.searchSelect .menu .item.selected {
    color: white;
}
.ui.dropdown.searchSelect .menu .item:hover {
    background: var(--color-g);
    color: white;
}

.ui.selection.dropdown:focus {
    border: 1px solid var(--color-e);
}

.ui.dropdown.selection.short2 {
    padding: 0.5em 0.6em 0.5em 0.3em;
    min-height: 0;
    height: 30px !important;
    min-width: 100px;
    background: rgba(0, 0, 0, 0.25);
    margin-bottom: 2px;
    color: rgba(255, 255, 255, 0.87);
}
.ui.dropdown.selection.short2.w100 {
    width: 100%;
}
.ui.dropdown.selection.short2 .text {
    color: rgba(255, 255, 255, 0.87) !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    width: calc(100% - 12px) !important;
    overflow: hidden;
}
.ui.dropdown.selection.short2 .dropdown.icon {
    padding: 0.55em;
}
.ui.dropdown.selection.short2 div .item {
    padding: 0.5em 0.6em 0.5em 0.6em !important;
    min-height: 0;
}
.ui.dropdown.selection.short2.shorter {
    min-width: 55px;
}

.ui.dropdown.selection.dropdown_1 {
    padding: 0.5em 0.6em 0.5em 0.3em;
    min-height: 0;
    line-height: 11px;
    box-sizing: border-box;
    height: 25px !important;
    min-width: 104px;
    max-width: 104px;
    background: rgba(255, 255, 255, 1);
    margin-bottom: 2px;
    color: #131313;
    border-radius: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.ui.dropdown.selection.dropdown_1 .text {
    color: #131313 !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    width: calc(100% - 12px) !important;
    overflow: hidden;
}
.ui.dropdown.selection.dropdown_1 .dropdown.icon {
    padding: 0.45em;
}
.ui.dropdown.selection.dropdown_1 div .item {
    padding: 0.5em 0.6em 0.5em 0.6em !important;
    min-height: 0;
}

.ui.dropdown.selection.dropdown_2 {
    padding: 0.5em 0.6em 0.5em 0.3em;
    min-height: 0;
    line-height: 11px;
    box-sizing: border-box;
    height: 25px !important;
    min-width: 122px;
    max-width: 122px;
    background: var(--color-a);
    margin-bottom: 2px;
    color: #e1e1e1;
    border-radius: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.ui.dropdown.selection.dropdown_2 .text {
    color: #e1e1e1 !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    width: calc(100% - 12px) !important;
    overflow: hidden;
}
.ui.dropdown.selection.dropdown_2 .dropdown.icon {
    padding: 0.45em;
}
.ui.dropdown.selection.dropdown_2 div .item {
    padding: 0.5em 0.6em 0.5em 0.6em !important;
    min-height: 0;
}
.ui.selection.active.dropdown:hover {
    border-color: white;
}

.mmgisHoverContents > * {
    cursor: pointer;
}
.mmgisHoverContents > *:hover {
    color: white;
}

/*Color Bar*/
.mmgisColorBar {
    margin: 8px 8px 8px 8px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.mmgisColorBar button {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: padding-left 0.2s ease-in, padding-right 0.2s ease-in;
    transition: padding-left 0.2s ease-in, padding-right 0.2s ease-in;
    background-color: #161616;
    border: 1px solid black;
    color: #dcdcdc;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 1px;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
}
.mmgisColorBar button p {
    display: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    width: 0px;
    height: 16px;
}
.mmgisColorBar:not(:hover) button.active {
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-transition: padding-left 0.2s ease-in, padding-right 0.2s ease-in;
    transition: padding-left 0.2s ease-in, padding-right 0.2s ease-in;
    background-color: #dcdcdc;
    color: #161616;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
}
.mmgisColorBar:not(:hover) button.active p {
    display: block;
    width: 160px;
}
.mmgisColorBar button:hover {
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-transition: padding-left 0.2s ease-in, padding-right 0.2s ease-in;
    transition: padding-left 0.2s ease-in, padding-right 0.2s ease-in;
    background-color: #dcdcdc;
    color: #161616;
    padding-left: 20px;
    padding-right: 20px;
}
.mmgisColorBar button:hover p {
    display: block;
    width: 160px;
}

/*Svelte Slider*/
/* slider colorings overrides
/* ****************************** */
.svelteSlider {
    --range-slider: #646c7c;
    --handle-border: var(--handle);
    --range-inactive: var(--handle-focus);
    --range: var(--handle-focus);
    --float-inactive: var(--handle-focus);
    --float: var(--handle-focus);
    --float-text: white;
    --pip-active: white;
    --pip-active-text: var(--pip-active);
    --range-pip-active: var(--color-c);
    --range-pip: var(--color-a2);
    --handle1: var(--color-c);
    --handle2: #08ea77;
    --handle3: #ff2b66;
    --handle4: #f5d556;
}

/* slider handle color overrides
  /* ****************************** */
.svelteSlider .rangeHandle {
    --handle-focus: var(--handle);
    --handle-inactive: var(--handle);
    --handle-border: var(--handle);
}

.svelteSlider .rangeHandle:nth-of-type(1) {
    --handle: var(--handle1);
}

.svelteSlider .rangeHandle:nth-of-type(2) {
    --handle: var(--handle2);
}

.svelteSlider .rangeHandle:nth-of-type(3) {
    --handle: var(--handle3);
}

.svelteSlider .rangeHandle:nth-of-type(4) {
    --handle: var(--handle4);
}

/* shared slider styles
  /* ****************************** */
.svelteSlider {
    height: 3px;
    font-size: 14px;
}

.svelteSlider .rangeNub {
    opacity: 0.5;
}
.svelteSlider.focus .rangeNub,
.svelteSlider:hover .rangeNub {
    opacity: 0.75;
}
.svelteSlider .rangeHandle.active .rangeNub {
    opacity: 1;
}

.svelteSlider.rangeFloat {
    opacity: 0.5;
    background: transparent;
}

.svelteSliderr.focus .rangeFloat {
    opacity: 1;
}

/* second slider styling
  /* ****************************** */
.svelteSlider .rangeHandle {
    width: 15px;
    height: 15px;
    top: 1px;
}
.svelteSlider .rangeHandle .rangeNub {
    opacity: 1;
}

/* pips under sliders styling
  /* ****************************** */
.svelteSlider .pip {
    height: 4px;
    font-weight: 200;
}
.svelteSlider .pip.selected .pipVal {
    font-weight: 300;
}
.svelteSlider .pip .pipVal {
    display: none;
    font-size: 12px;
    top: 8px;
}

.svelteSlider .pip:nth-child(5n + 1) {
    height: 8px;
}
.svelteSlider .pip:nth-child(5n + 1).selected {
    height: 12px;
}
.svelteSlider .pip:nth-child(5n + 1).selected .pipVal {
    top: 12px;
}
.svelteSlider .pip:nth-child(5n + 1) .pipVal {
    display: block;
}

.svelteSlider .rangeBar {
    height: 3px;
    background: linear-gradient(
        90deg,
        var(--handle1),
        var(--handle1) 25%,
        var(--handle2) 75%,
        var(--handle2)
    );
}

.svelteSlider .rangePips .pip,
.svelteSlider.rangePips .pipVal {
    transition: all 0.66s ease-out;
}

.svelteSlider .rangePips .pip.selected,
.svelteSlider .rangePips .pip.selected .pipVal {
    transition: none;
}

.svelteSlider.range .rangePips .pip.selected,
.svelteSlider.range .rangePips .pip.selected .pipVal {
    transition: all 0.15s ease;
}

/*Custom Scrollbar for webkit*/
.mmgisScrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
    background-color: Transparent;
}

.mmgisScrollbar::-webkit-scrollbar {
    width: 4px;
    height: 2px;
    background-color: var(--color-a);
}

.mmgisScrollbar::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: var(--color-a2);
}

.hideScrollbar::-webkit-scrollbar-track {
    background-color: Transparent;
}

.hideScrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.hideScrollbar::-webkit-scrollbar-thumb {
    border-radius: 0px;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}
::-webkit-scrollbar-thumb {
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 0px;
    background-color: var(--color-a2);
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
        inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* tooltip */
.tippy-box[data-theme~='blue'] {
    background-color: var(--color-c2);
    color: white;
    border-radius: 2px;
}
.tippy-box[data-theme~='blue'] .tippy-arrow {
    color: var(--color-c2);
}

/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv toggle switch vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
/* Use as: <div class="mmgisToggleSwitch" ><input type="checkbox" id="switch" /><label for="switch">Toggle</label></div> */
.mmgisToggleSwitch {
    position: relative;
}
.mmgisToggleSwitch input[type='checkbox'] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.mmgisToggleSwitch label {
    cursor: pointer;
    text-indent: -9999px;
    width: 36px;
    height: 18px;
    background: grey;
    display: block;
    border-radius: 2px;
    position: relative;
    top: -18px;
}

.mmgisToggleSwitch label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.mmgisToggleSwitch input:checked + label {
    background: var(--color-c);
}

.mmgisToggleSwitch input:checked + label:after {
    left: calc(100% - 16px);
}

.mmgisToggleSwitch label:active:after {
    width: 14px;
}

/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv switch slider vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

.mmgisMultirange {
    width: 93%;
    height: 5px;
    margin-top: 10px;
    margin-left: 5px;
    background: #030215;
    border-radius: 0px;
}
.mmgisMultirange .ui-slider-handle {
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: none;
    border-bottom: 10px solid #dea26d;
    /* border-bottom: 10px solid #ffffff; */
    background: transparent;
    /* margin-top: -10px */
    /* -webkit-appearance: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px; */

    /* background: cyan; */
}

/* CSS config for multirange slider for elevation slider */
.mmgisMultirange_elev {
    width: 95%;
    height: 5px;
    margin-top: 10px;
    margin-left: 5px;
    background: #030215;
    border-radius: 0px;
}

.mmgisMultirange_elev .ui-slider-handle {
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: none;
    border-bottom: 10px solid #dea26d;
    background: transparent;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

/*============================================ Blinking text ===============================================*/
blink {
    -webkit-animation: 2s linear infinite condemned_blink_effect; /*for android */
    animation: 1s linear infinite condemned_blink_effect;
    transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    text-shadow: 0px 0px 8px red;
    font-weight: bold;
    color: blue;
}

@-webkit-keyframes condemned_blink_effect {
    /*for android */
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes condemned_blink_effect {
    0% {
        opacity: 0;
        color: blue;
    }
    50% {
        opacity: 1;
        color: red;
    }
    51% {
        color: blue;
    }
    100% {
        opacity: 0;
        color: blue;
    }
}

/*============================================Pure dropdown select===============================================*/
/*https://gist.github.com/YoSmudge/2214759*/
/*Add cursor to the spans and labels*/

.mmgispureselect li label,
.mmgispureselect li label span {
    cursor: pointer;
}

/*By default, hide the spans*/
.mmgispureselect li label span {
    display: none;
}

/*All the spans should show when hovered*/
.mmgispureselect:hover li label span {
    display: block;
}

/*Otherwise, only the selected span should display*/
.mmgispureselect li label input:checked + span {
    display: block;
    font-weight: bold;
}
/*
	Make it pretty with Bootstrap
*/

/*As before, hide the radio buttons and style the ul*/
.mmgispureselect li label input {
    display: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}

.mmgispureselect {
    list-style-type: none;
    margin: 0;
}

.mmgispureselect li label span {
    color: #ffffff;
    cursor: pointer;
}

/*When the dropdown isn't showing, display the elements inline and show the caret*/
.mmgispureselect li,
.mmgispureselect li label {
    display: inline;
}

/*When it is showing, hide the caret and display as block*/
.mmgispureselect:hover li {
    display: block;
}

.mmgispureselect:hover li span.caret {
    display: none;
}

/*Now hide all the elements except checked*/
.mmgispureselect li label span {
    display: none;
}
.mmgispureselect li label input:checked + span {
    display: inline;
}

/*But show them on hover*/
.mmgispureselect:hover li label span {
    display: inline;
}

/*And highlight the selected one*/
.mmgispureselect:hover li label input:checked + span {
    font-weight: bold;
}
/*
  CSS for dropdown
*/

/*First, do some styling on the UL*/

.mmgispureselect {
    background-color: var(--color-a);
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 1px;
}

/*Now we need to remove the actual radio buttons, the label will serve as the click area*/

.mmgispureselect li label input {
    display: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}

/*==============================================================================================================*/

/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv switch slider vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
.slidecontainer {
    margin-top: 15px;
    /* margin-left: 5px; */
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    /* width: 100%; */
    height: 15px;
    border-radius: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.4s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 25px;
    background: rgb(211, 129, 22);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ switch slider ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

/*Slider2*/

.slider2 {
    -webkit-appearance: none;
    /* width: 100%; */
    height: 17px;
    background: var(--color-a1);
    border-radius: 8px;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.4s;
}
.slider2.darker {
    background: var(--color-a);
}
.slider2.lighter {
    background: var(--color-m1);
}

.slider2:hover {
    opacity: 1;
}

.slider2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #eee;
    cursor: pointer;
}

.slider2::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #eee;
    cursor: pointer;
}

/*Slider3*/

.slider3 {
    -webkit-appearance: none;
    width: 100%;
    height: 17px;
    background: #ccc;
    border: 1px solid #aaa;
    border-radius: 8px;
    outline: none;
    opacity: 0.8;
    transition: opacity 0.4s;
}

.slider3:hover {
    opacity: 1;
}

.slider3::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #111;
    cursor: pointer;
}

.slider3::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #111;
    cursor: pointer;
}

/*=====+==*/

/*Other*/
.hoverMeWhite {
    cursor: pointer;
    transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.hoverMeWhite:hover {
    color: white;
}

/*Loader*/
.mmgisLoading {
    -webkit-animation-duration: 0.75s;
    -moz-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotate-forever;
    -moz-animation-name: rotate-forever;
    animation-name: rotate-forever;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    height: 22px;
    width: 22px;
    border: 3px solid var(--color-c);
    border-right-color: transparent;
    border-radius: 50%;
    display: inline-block;
}

@-webkit-keyframes rotate-forever {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes rotate-forever {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-forever {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*ar_slider*/
input[type='range'].ar_slider {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    background: transparent;
}
input[type='range'].ar_slider:focus {
    outline: none;
}
input[type='range'].ar_slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 40px;
    cursor: pointer;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.1)
    );
    border-radius: 0px;
    border: none;
    margin: 0;
}
input[type='range'].ar_slider::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px rgba(103, 0, 0, 0), 0px 0px 0px rgba(129, 0, 0, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 40px;
    width: 18px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    -webkit-appearance: none;
    margin: 0;
}
input[type='range'].ar_slider:focus::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.1);
}
input[type='range'].ar_slider::-moz-range-track {
    width: 100%;
    height: 27px;
    cursor: pointer;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0px;
    border: 0px solid rgba(1, 1, 1, 0);
}
input[type='range'].ar_slider::-moz-range-thumb {
    box-shadow: 0px 0px 0px rgba(103, 0, 0, 0), 0px 0px 0px rgba(129, 0, 0, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 27px;
    width: 18px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
input[type='range'].ar_slider::-ms-track {
    width: 100%;
    height: 27px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type='range'].ar_slider::-ms-fill-lower {
    background: rgba(242, 242, 242, 0.1);
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 0px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type='range'].ar_slider::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.1);
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 0px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type='range'].ar_slider::-ms-thumb {
    box-shadow: 0px 0px 0px rgba(103, 0, 0, 0), 0px 0px 0px rgba(129, 0, 0, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    width: 18px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    height: 27px;
}
input[type='range'].ar_slider:focus::-ms-fill-lower {
    background: rgba(255, 255, 255, 0.1);
}
input[type='range'].ar_slider:focus::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.1);
}

/*verticalSlider*/
input[type='range'].verticalSlider {
    -webkit-appearance: none;
    width: 100px;
    margin: 0;
    background: transparent;
}
input[type='range'].verticalSlider:focus {
    outline: none;
}
input[type='range'].verticalSlider::-webkit-slider-runnable-track {
    width: 100%;
    height: 41px;
    cursor: pointer;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.1)
    );
    border-radius: 0px;
    border: none;
    margin: 0;
}
input[type='range'].verticalSlider::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px rgba(103, 0, 0, 0), 0px 0px 0px rgba(129, 0, 0, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 41px;
    width: 18px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    -webkit-appearance: none;
    margin: 0;
}
input[type='range'].verticalSlider:focus::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.1);
}
input[type='range'].verticalSlider::-moz-range-track {
    width: 100%;
    height: 41px;
    cursor: pointer;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0px;
    border: 0px solid rgba(1, 1, 1, 0);
}
input[type='range'].verticalSlider::-moz-range-thumb {
    box-shadow: 0px 0px 0px rgba(103, 0, 0, 0), 0px 0px 0px rgba(129, 0, 0, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 41px;
    width: 18px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
input[type='range'].verticalSlider::-ms-track {
    width: 100%;
    height: 41px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type='range'].verticalSlider::-ms-fill-lower {
    background: rgba(242, 242, 242, 0.1);
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 0px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type='range'].verticalSlider::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.1);
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 0px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type='range'].verticalSlider::-ms-thumb {
    box-shadow: 0px 0px 0px rgba(103, 0, 0, 0), 0px 0px 0px rgba(129, 0, 0, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    width: 18px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    height: 41px;
}
input[type='range'].verticalSlider:focus::-ms-fill-lower {
    background: rgba(255, 255, 255, 0.1);
}
input[type='range'].verticalSlider:focus::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.1);
}

.blackTextBorder {
    color: white;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000,
        -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000,
        1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
        -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000,
        2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000,
        -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000,
        -2px -1px 0 #000;
}

/*Other*/
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidable {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.hidable.shown {
    opacity: 1;
    pointer-events: inherit;
    transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.mmgisHoverBlue {
    cursor: pointer;
    color: var(--color-f);
    transition: all 0.2s ease-in 0s;
}
.mmgisHoverBlue:hover {
    color: var(--color-mmgis);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* MMGIS checkbox */

/*    CHECKBOX   */
/*
  <div class="mmgis-checkbox">
    <input type="checkbox" checked id="checkbox" />
    <label for="checkbox"></label>
  </div>
*/
/*
  <div class="mmgis-checkbox"><input type="checkbox" checked id="checkbox" /><label for="checkbox"></label></div>
*/
.mmgis-checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 5px;
}
.mmgis-checkbox.small {
    width: 16px;
    height: 16px;
    margin: 2px;
}

.mmgis-checkbox label {
    background-color: var(--color-k);
    border: 2px solid var(--color-p);
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
    transition: all 0.2s ease;
}
.mmgis-checkbox.small label {
    width: 16px;
    height: 16px;
}
@media (pointer: fine) and (hover: hover) {
    .mmgis-checkbox label:hover {
        background-color: var(--color-j);
        border: 2px solid var(--color-f);
    }
}

.mmgis-checkbox label::after {
    border: 2px solid var(--color-k);
    border-top: none;
    border-right: none;
    content: '';
    width: 9px;
    height: 4px;
    position: absolute;
    left: 4px;
    top: 5px;
    opacity: 0;
    transform: rotate(-45deg);
    transition: all 0.2s ease;
}
.mmgis-checkbox.small label::after {
    left: 2px;
    top: 3px;
}

.mmgis-checkbox input[type='checkbox'] {
    visibility: hidden;
}

.mmgis-checkbox input[type='checkbox']:checked + label {
    background-color: var(--color-f);
    border-color: var(--color-f);
}

.mmgis-checkbox input[type='checkbox']:checked + label::after {
    opacity: 1;
}

.mmgisCheckbox {
    margin: 5px;
    width: 20px;
    height: 20px;
    border: 2px solid #777;
    border-radius: 3px;
    cursor: pointer;
    transition: background 0.2s cubic-bezier(0.39, 0.575, 0.565, 1),
        border 0.1s cubic-bezier(0.39, 0.575, 0.565, 1),
        border-radius 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.mmgisCheckbox.on {
    background: white;
    border: 0px solid #777;
}
.mmgisCheckbox:not(.on):hover {
    background: rgba(255, 255, 255, 0.1);
}
.mmgisCheckbox.loading {
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: layerLoadingSpin 1s ease-in-out infinite;
}
#toast-container {
    position: fixed !important;
    bottom: 40px !important;
    right: 5px !important;
    z-index: 1001 !important;
}
.mmgisToast {
    z-index: 1000;
    border-radius: 2px;
    top: 35px;
    width: auto;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    line-height: 1.5em;
    background-color: var(--color-mmgis);
    padding: 10px 25px;
    /*
    font-size: 1.1rem;
    font-weight: 300;
*/
    color: var(--color-f);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
}
.mmgisToast.failure {
    background-color: var(--color-r1);
}

/*spinner1*/
.mmgis-spinner1 {
    -webkit-animation: spinner1_rotate 2s linear infinite;
    animation: spinner1_rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
}
.mmgis-spinner1 .path {
    stroke: var(--color-c);
    stroke-linecap: round;
    -webkit-animation: spinner1_dash 1.5s ease-in-out infinite;
    animation: spinner1_dash 1.5s ease-in-out infinite;
}

@keyframes spinner1_rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner1_dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

/*spinner2*/
.mmgis-spinner2 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    background: linear-gradient(0deg, rgb(8, 174, 234, 0.2) 33%, var(--color-c) 100%);
    box-sizing: border-box;
    animation: mmgis-spinner2-rotation 1s linear infinite;
  }
  .mmgis-spinner2::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #263238;
  }
  @keyframes mmgis-spinner2-rotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg)}
  } 
