.landingPage {
    height: 100%;
    overflow: hidden;
    font-family: venus, sans-serif;
    opacity: 0;
    display: flex;
    flex-flow: column;
    background: var(--color-a);
    background-image: url(/public/images/PIA20461.jpg);
    background-size: cover;
    background-position: center;
    padding: 40px;
    z-index: 101;
}

.landingPage .gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0) 25%,
        rgba(0, 0, 0, 0) 75%,
        rgba(0, 0, 0, 0.1) 100%
    );
}

.landingPage #landingPanel {
    position: absolute;
    top: 0;
    left: 0;
    width: 315px;
    height: 100%;
    background: #1a1a1a;
    box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.4);
}
.landingPage #landingMissionsWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 315px;
    height: 100%;
    padding: 100px 10px 100px 51px;
}

.landingPage .landingBottom {
    position: absolute;
    bottom: 12px;
    left: 0px;
    width: 315px;
    display: flex;
    justify-content: space-between;
    z-index: 20;
    padding: 0px 51px;
}
.landingPage .imagecredit,
.landingPage .version,
.landingPage .clearance {
    font-family: 'roboto';
    font-size: 11px;
    color: #999;
    display: flex;
    justify-content: center;
}
.landingPage .imagecredit div {
    padding-right: 3px;
}

.landingPage .imagecredit a,
.landingPage .imagecredit a.visited {
    color: #777;
    transition: color 0.2s ease-in;
}
.landingPage .imagecredit a:hover {
    color: #fff;
}

.landingPage #title img {
    position: relative;
    left: -6px;
    top: 5px;
}

.landingPageMission {
    transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    color: #fff;
    font-family: 'roboto';
    opacity: 1;
    list-style-type: none;
    margin: 10px 0px;
    font-size: 22px;
    line-height: 22px;
    font-weight: 500;
    cursor: pointer;
}
.landingPageMission:hover {
    text-decoration: underline;
}

.landingPageMission:first-child {
    margin-top: 0px;
}

#configIcon {
    position: absolute;
    bottom: 30px;
    right: 120px;
    padding: 10px;
    cursor: pointer;
    color: #222;
    transition: color 0.2s ease-in;
    z-index: 100;
}
#configIcon:hover {
    color: #000;
}

#docsIcon {
    position: absolute;
    bottom: 30px;
    right: 75px;
    padding: 10px;
    cursor: pointer;
    color: #222;
    transition: color 0.2s ease-in;
    z-index: 100;
}
#docsIcon:hover {
    color: #000;
}

#attributionIcon {
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 10px;
    cursor: pointer;
    color: #222;
    transition: color 0.2s ease-in;
    z-index: 100;
}
#attributionIcon:hover {
    color: #000;
}

#attributions {
    position: absolute;
    right: 0px;
    top: 0px;
    font-family: 'lato';
    height: 100vh;
    background: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#attributions.active {
    opacity: 1;
    pointer-events: inherit;
}
#attributionsContent {
    height: calc(100vh - 84px);
    padding: 10px;
    overflow-y: auto;
}

#attributionsTitle {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #242424;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    padding: 0px 2px 0px 10px;
    font-size: 14px;
}
#attributionsTitle > div {
    display: flex;
}
#attributionsTitle img {
    position: relative;
    top: 4px;
    left: -2px;
}
#attributions .attributionTitle_library {
    padding-right: 3px;
    color: black;
    font-size: 20px;
    font-family: 'venus';
}
#attributions .attributionTitle_version {
    padding-right: 3px;
    font-size: 13px;
    color: #ccc;
}
#attributions .attributionTitle_by {
    padding-right: 3px;
    color: #eee;
}
#attributions .attributionTitle_author {
    color: #eee;
}
#attributions .attributionTitle_under {
    padding-right: 3px;
    color: #eee;
}
#attributions .attributionTitle_license {
    padding-right: 3px;
    color: #eee;
}
#attributions .attributionTitle_github {
    color: #eee;
}

#attributions a,
#attributions a:active,
#attributions a:visited {
    color: #005fad;
    transition: color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#attributions a:hover {
    color: #71b4eb;
}

#attributionsTitle a,
#attributionsTitle a:active,
#attributionsTitle a:visited {
    color: #71b4eb;
}
#attributionsTitle a:hover {
    color: #005fad;
}

#attributions ul {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
}
#attributions ul > li {
    display: flex;
    justify-content: space-between;
    color: #242424;
}
#attributions ul > li:last-child {
    text-align: center;
    display: block;
    padding: 8px 8px 0px 8px;
}
#attributions ul > li > div {
    display: flex;
}
#attributions ul > li > div:last-child {
    padding-left: 20px;
}
#attributions .attribution_library {
    padding-right: 3px;
}
#attributions .attribution_version {
    padding-right: 3px;
    font-size: 12px;
    color: #6b6b6b;
}
#attributions .attribution_by {
    padding-right: 3px;
}
#attributions .attribution_author {
}
#attributions .attribution_under {
    padding-right: 3px;
}
#attributions .attribution_license {
    padding-right: 3px;
}
#attributions .attribution_github {
}

#missionnotfound {
    background: radial-gradient(
        180% 100% ellipse at 50% 50%,
        rgb(52, 138, 195) 0%,
        rgb(40, 90, 153) 11.45%,
        rgb(15, 24, 86) 36.16%,
        rgb(0, 0, 37) 70%,
        rgb(1, 1, 1) 100%
    );
}

#missionnotfound #mnfmmgis {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'venus';
    font-size: 24px;
    cursor: pointer;
    padding: 4px;
    color: #eee;
}
#missionnotfound #mnfmmgis:hover {
    color: #fff;
    text-shadow: 0px 0px 8px white;
}

#missionnotfound #mnfattractor {
    width: 100%;
    height: 1px;
    background-color: #eee;
    background: -webkit-radial-gradient(
        circle,
        transparent,
        transparent,
        #eee
    ); /* Safari */
    background: -o-radial-gradient(
        circle,
        transparent,
        transparent,
        #eee
    ); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(
        circle,
        transparent,
        transparent,
        #eee
    ); /* Firefox 3.6 to 15 */
    background: radial-gradient(
        circle,
        transparent,
        transparent,
        #eee
    ); /* Standard syntax */
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
}
