#loginModalWrapper {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to top,
        rgba(29, 31, 32, 0.95),
        rgba(29, 31, 32, 0.9)
    );
    z-index: 999999;
    opacity: 0;
    pointer-events: none !important;
    transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#loginModalWrapper.active {
    opacity: 1;
    pointer-events: auto !important;
}

#loginModal {
    width: 400px;
    padding: 0px 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#loginForm {
    padding: 1em;
    font-size: 14px;
}
#loginForm input {
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    line-height: 1.2142em;
    padding: 0.67861429em 1em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    border-radius: 3px;
    max-width: 100%;
    flex: 1 0 auto;
    text-align: left;
}
#loginForm input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

#loginForm .field {
    clear: both;
    margin: 0 0 1em;
}

#loginForm label {
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
}

#loginSubmit[type='submit'] {
    background-color: var(--color-mmgis);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0 0.25em 0 0;
    padding: 0.78571429em 1.5em;
    text-transform: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;

    transition: background 0.1s ease;
}
#loginSubmit:hover {
    background-color: #19659f;
}

#loginInUpToggle {
    font-size: 0.92857143rem;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    color: #ccc;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0 0.25em 0 0;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
    user-select: none;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
        box-shadow 0.1s ease, background 0.1s ease;
}
#loginInUpToggle:hover {
    color: white;
}

#loginModalClose {
    position: absolute;
    top: 0;
    right: 0;
    color: #ddd;
    cursor: pointer;
    margin: 8px 6px;
    transition: color 0.2s ease;
}
#loginModalClose:hover {
    color: white;
}

#loginoutButton {
    background: var(--color-a);
    color: white;
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 28px;
    margin-left: 5px;
    padding-left: 2px;
    border-radius: 3px;
    pointer-events: all;
    transition: color 0.2s ease-in 0s;
}
#forceSignupButton {
    background: var(--color-a);
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 26px;
    margin-right: 4px;
    pointer-events: all;
    color: white;
    transition: color 0.2s ease-in 0s;
}
#loginoutButton:hover,
#forceSignupButton:hover {
    color: var(--color-mmgis);
}
#loginDiv #loginUser.attention {
    animation: 0.8s attention ease infinite alternate;
}

@keyframes attention {
    0% {
        background: var(--color-r1);
    }
    100% {
        background: var(--color-red);
    }
}
