@font-face {
  font-family: lato;
  src: url(../../../public/fonts/lato/Lato-Regular.ttf),
    url(../public/fonts/lato/Lato-Regular.ttf);
}
@font-face {
  font-family: sourcesans;
  src: url(../../../public/fonts/sourcesanspro/SourceSansPro-Regular.ttf),
    url(../public/fonts/sourcesanspro/SourceSansPro-Regular.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
}

#main {
  display: flex;
}

#leftPanel {
  width: 220px;
  position: fixed;
  height: 100%;
  background: #1a1a1a;
  display: flex;
  flex-flow: column;
}
#tbtitle {
  font-size: 24px;
  color: #ccc;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  margin-top: 20px;
  cursor: pointer;
}
#tbtitle a {
  font-size: 24px;
  color: #ccc;
  margin: 0;
  padding: 0;
  text-align: center;
}
#tbmmgis {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-family: venus;
}
#tbmmgis:hover {
  color: #999;
}
#tbsubtitle {
  font-family: "lato";
  cursor: default;
  text-align: center;
  font-size: 16px;
  line-height: 0px;
  margin: 4px 0px 16px;
}

#list {
  height: calc(100% - 50px);
  overflow-y: auto;
}
#nav,
#navconfigure,
#navlayers,
#navtools {
  list-style-type: none;
  padding: 0;
  font-family: "sourcesans", sans-serif;
  font-size: 18px;
  margin: 5px 15px;
}
#nav li,
#navconfigure li,
#navlayers li,
#navtools li {
  line-height: 28px;
  text-align: right;
  cursor: pointer;
  transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  color: #ccc;
}
#nav li:hover,
#navconfigure li:hover,
#navlayers li:hover,
#navtools li:hover {
  color: white;
}
#nav li.active,
#navconfigure li.active,
#navlayers li.active,
#navtools li.active {
  font-weight: bold;
  color: white;
}
#nav li .apiIcon,
#navconfigure li .apiIcon,
#navlayers li .apiIcon,
#navtools li .apiIcon {
  color: #ccc;
  line-height: 27px;
  margin: 0px 4px;
  transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#nav li:hover .apiIcon,
#navconfigure li:hover .apiIcon,
#navlayers li:hover .apiIcon,
#navtools li:hover .apiIcon {
  color: white;
}

#cat {
  font-family: "sourcesans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #26a8ff;
  text-align: right;
  padding: 0px 15px;
  margin-top: 18px;
}

#navapi {
  list-style-type: none;
  padding: 0;
  font-family: "sourcesans", sans-serif;
  font-size: 18px;
  margin: 5px 15px;
}
#navapi li {
  line-height: 28px;
  text-align: right;
  cursor: pointer;
  transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  color: #ccc;
}
#navapi li:hover {
  color: white;
}
#navapi li.active {
  font-weight: bold;
  color: white;
}
#navapi li .apiIcon {
  color: #ccc;
  line-height: 27px;
  margin: 0px 4px;
  transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#navapi li:hover .apiIcon {
  color: white;
}

#content {
  flex: 1;
  width: calc(100% - 220px);
  height: 100%;
}
#markdown {
  width: max(45%, 200px);
  margin: auto;
  font-family: "sourcesans", sans-serif;
  font-size: 17px;
  padding-bottom: 20vh;
}

#markdown > * {
  word-break: break-word;
}

#markdown code {
  background: #f1f2f4;
  line-height: 20px;
  border-radius: 2px;
}

#markdown pre {
  background: #f1f2f4;
  overflow-x: auto;
}

#markdown img {
  max-width: 100%;
}

#markdown h1,
#markdown h2,
#markdown h3,
#markdown h4 {
  font-family: "lato", sans-serif;
}
#markdown h1 {
  font-size: 40px;
}
#markdown h2 {
  padding-bottom: 6px;
  border-bottom: 1px solid #ddd;
}

/*Custom Scrollbar for webkit*/
.mmgisScrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
  background-color: Transparent;
}

.mmgisScrollbar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #1a1a1a;
}

.mmgisScrollbar::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #555555;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 7px;
  background-color: rgba(69, 90, 100, 0.4);
  box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
