.ContextMenuMap {
    position: absolute;
    background: var(--color-a);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border: 1px solid #787878;
    border-radius: 6px;
    transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.ContextMenuMap #contextMenuCursor {
    position: absolute;
    top: 0;
    left: 0;
}
.ContextMenuMap #contextMenuCursor > div:first-child {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
}
.ContextMenuMap #contextMenuCursor > div:last-child {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}

.ContextMenuMap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ContextMenuMap li {
    padding: 4px 16px;
    cursor: pointer;
    color: #aaa;
    transition: color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.ContextMenuMap li:hover {
    color: white;
}
